TextAnalyzer/.idea/
TextAnalyzer/out/
TextAnalyzer/src/Newtext.txt
TextAnalyzer/src/Regex/
TextAnalyzer/src/ScanTest.java
TextAnalyzer/src/Test/
TextAnalyzer/src/repo/
TextAnalyzer/TextAnalyzer.iml
Trainee/